@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.marquee {
  animation: marquee 18s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

/* global tokens can go here */
